@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-Poppins;
  }
  body {
    background: #252525;
    font-family: poppins;
  }
  h1 {
    @apply text-xl font-medium capitalize;
  }
}

* {
  font-family: "poppins";
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer duration-300 font-medium;
}

.active {
  background-color: rgba(
    194,
    26,
    37,
    0.22
  ); /* Apply the color with 22% opacity */
  @apply text-white; /* You can keep the text color or change as needed */
  border-left: 4px solid #c21a25; /* Left border with red color */
}